<form action="datos" method = POST>
    <div>
        <label for="pais">Pais:</label>
        <input type="text" id="pais" name="user_pais" />
    </div>
    <div>
        <label for="fechaentrada">Fecha de entrada:</label>
        <input type="date" id="fechaentrada" name="user_fechaentrada" />
    </div>
    <div>
        <label for="fechasalida">Fecha de salida:</label>
        <input type="date" id="fechasalida" name="user_fechasalida" />
    </div>
    <div>
        <label for="duracion">Duracion:</label>
        <input type="number" id="duracion" name="user_duracion" />
    </div>
    <div>
        <label for="preciomax">Precio maximo:</label>
        <input type="number" id="preciomax" name="user_preciomax" />
    </div>
    
    
    <div class="button">
        <button type="submit">Send your request</button>
    </div>
</form>